body {
    padding-top: 50px;
    background: #ccc;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
    margin: auto;
}

.done-true{
    text-decoration: line-through;
    color: #ccc;
}

.bt-pos{
    margin-top: 40px;
}

.todo_header{
    text-align: center;
    color:#8D7979;
    font-family: 'Lato', sans-serif;
    font-size:50px;
    margin-bottom: 50px;
}
.todoTitle{
    color: #D3BB93;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.todo_about{
    text-align: justify;
}
.check {
    float: right;
}

.TextTodo{
    font:'Lucida Grande';
    font-style:oblique;
    font-size: 16px;
}

.homeNav{
    color: #eeeeff;
    font-size: 20px;

}

.projectList{
    color: #ffffff;
    margin-top: 5px;
    background:lightsteelblue;
    font-size: 17px;
    cursor: pointer;
}

.projectList:hover{
    background: cadetblue;
}

