<img src="images/afire-logo.png" class="img-thumbnail" style="margin-bottom:30px;">
<div class="todo_about">
    <p>This small proyect uses AngularJS + Firebase to store and sync AngularJS data. Firebase is a realtime backend for AngularJS app. And they work harmoniously to create something really cool.</p>
    <p>This simple example shows a TODO list, where you can add, delete, and edit data from this list and it automatically syncs to  firebase and makes the changes.</p>
</div>

<a href="http://www.google.com" class="btn btn-info">View the GitHub Proyect</a>