
  <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Things To-Do: {{getTotalTodos()}}  
        <form class="form-horizontal">
          <input type="text" style="width:300px; margin-top:10px;" ng-model="formTodoText" ng-model-instant>
           <button class="btn" style="margin-left:20px;" ng-click="addTodo()"><i class="glyphicon glyphicon-plus"></i> Add</button> 
           <button class="btn glyphicon glyphicon-search" style="padding:9px;" ></button>
        </form></h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"  style="text-align:left;"ng-repeat="todo in todos | filter:text">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </li> 
        </ul>
      </div>
    </div>
     
    <button class="btn-large" ng-click="removeTodo()"><i class="glyphicon glyphicon-trash"></i> Clear Completed</button>
