
  <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Title goes here: {{getTotalTodos()}}</h3>
        <form class="form-horizontal">
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-12 col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add new todo element" ng-model="todoElem">
                        <div class="input-group-btn">
                            <button type="submit" ng-click="addTodo()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for ToDo" ng-model="txtSearch">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <!--TODO instead of having the List of Todos here it will be in a seperate view where after choosing a project or adding  new one it will APPEAR HERE-->
      <div class="row" style="padding:10px">
          <div class="panel-body col-xs-12 col-md-8">
            <ul class="list-group">
              <li class="list-group-item"  style="text-align:left;" ng-repeat="todo in todos | orderByPriority | filter:txtSearch">
                <span class="done-{{todo.done}} TextTodo">{{todo.text}}</span>
                <input class="check" type="checkbox" ng-model="todo.done" ng-checked="toggleStatus()">
              </li>
            </ul>
          </div>
          <div class="panel-body col-xs-6 col-md-4">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="New Todo Proyect" ng-model="projectName">
                      <div class="input-group-btn">
                          <button type="submit" class="btn btn-warning" ng-click="newTodoProject(projectName)"><span class="glyphicon glyphicon-list-alt"></span></button>
                      </div>
                  </div>
              <ul class="list-group" ng-init="projectListView()">
                  <li  class="list-group-item projectList" ng-repeat="project in projects">{{project.title}}</li>
              </ul>
          </div>
      </div>
    </div>
     
    <button class="btn" ng-click="removeTodo()"><i class="glyphicon glyphicon-trash"></i> Clear Completed</button>
